<marquee onmouseover="this.stop()" onmouseout="this.start()" *ngIf="b" [attr.scrollamount]="speed" ><span style="font-size: 2.7em;">{{Text}}</span></marquee>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="form-group mt-5">
  <label c>Ваш текст:</label>
  <textarea class="form-control col-10" type="text" [(ngModel)]="Text"  rows="3"></textarea>
</div>

<label>Введите скорость (от 1 до удобнога числа ):  </label>
<input  class="form-control col-6" type="number" [(ngModel)]="speed">
<br>
<label>Если нужно остановить бегущий текст, наведите мышкой на сам БЕГУЩИЙ текст</label>
<br>
<br>
<button class="btn btn-warning" (click)="Change()">Начать заново</button>