<div style="border: 1px solid slategrey;">
  <marquee onmouseover="this.stop()" onmouseout="this.start()" *ngIf="b" [attr.scrollamount]="speed" ><span style="font-size: 2.7em;">{{Text}}</span></marquee>
</div>

<div class="container">
  <br>
<br>
<br>
<br>
<br>
<br>
<button class="btn btn-warning col-4 offset-4" (click)="Change()">Начать заново</button>
<br>
<br>
<label class="offset-3">Cкорость бегущей строки (От 1 до удобной скорости ):  </label>
<input  class="form-control col-4 offset-4" type="number" min='1' [(ngModel)]="speed">
<br>
<div class="form-group mt-5">
  <label c>Ваш текст:</label>
  <textarea placeholder="Введите ваш текст..." class="form-control col-10" type="text" [(ngModel)]="Text"  rows="3"></textarea>
</div>


<div *ngIf="documentation" style="padding: 15px;">
  <span>Если нужно остановить бегущий текст, наведите мышкой на сам БЕГУЩИЙ текст.</span>
<br>
<span>Как только вы уберете курсор с текста, он опять начнет двигаться.</span>
<br>
<span>Если Вы изменили скорость бегущей строки, чтобы изменения применились нужно:
  <br>
  1. Либо нажать на кнопку "Начать заново"
  <br>
  2. Либо дождаться окончания текущей бегущей строки. Новая бегущая строка начнется с новой скоростью.
</span>
</div>

<button class="btn btn-info col-3" (click)="ChangeDocStatus()">{{docText}}</button>
<br>
</div>