<div style="border: 1px solid slategrey;">
  <marquee onmouseover="this.stop()" onmouseout="this.start()" *ngIf="b" [attr.scrollamount]="speed" ><span style="font-size: 2.7em;">{{Text}}</span></marquee>
</div>

<div class="container">
  <br>
<br>
<br>
<br>
<br>
<br>
<div class="form-group mt-5">
  <label c>Ваш текст:</label>
  <textarea placeholder="Введите ваш текст..." class="form-control col-10" type="text" [(ngModel)]="Text"  rows="3"></textarea>
</div>

<label>Введите скорость бегущей строки (От 1 до удобной скорости ):  </label>
<input  class="form-control col-6" type="number" min='1' [(ngModel)]="speed">
<br>
<label>Если нужно остановить бегущий текст, наведите мышкой на сам БЕГУЩИЙ текст</label>
<br>
<label>Как только вы уберете курсор с текста, он опять начнет двигаться</label>
<br>
<br>
<button class="btn btn-warning col-4" (click)="Change()">Начать заново</button>
</div>